# ElevenLabs API Key - Get yours at https://elevenlabs.io/
VITE_ELEVENLABS_API_KEY=sk_ca2fa44e1c993b655f01f933ea6232fe4bc4b646091b1208

# DeepSeek API Key - Get yours at https://platform.deepseek.com/
VITE_DEEPSEEK_API_KEY=sk-13e72d84a1b84312ada34181fd0c3390
VITE_DEEPSEEK_API_URL=https://api.deepseek.com/v1
